.nav-links ul li a{
  text-decoration: none;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: orangered;

}
.nav-links ul li{
  list-style: none;
  padding: 10px;
  text-align: center;
}

.nav-links ul li a:hover{
  text-decoration: none;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: purple;
}

.text-reset{
  text-decoration: none;
}
.active{
  font-weight: bold;
}
.cap{
  font-size: 40px;
}
.Cap{
  font-size: 60px;
}
.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.icon{
  font-size: 20px;
}
.form-check-input{
  cursor: pointer;
}

.app , .APP{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;

}
.container , .CONT{
  box-shadow: 3px 3px 3px 3px #cecece;
  padding: 1rem;
  border-radius: 10px;
  text-overflow: clip;
}
h1{
  text-align: center;
}
.APP{
  margin-top: -40vh;
}
#don{
  margin-top: -35vh;
  margin-bottom: -10vh;
}
@media screen and (max-width:1200px){
  #email, #add{
    font-size: 13px;
    /* text-align: center; */
  }
}  
@media screen and (min-width:700px){
    #bar{
      padding: 25px;
    }
    img{
      height: 300px;
      
}
  }
@media screen and (max-width:700px){
  img{
         height: 300px;
         padding: 25px;
         
  }
  #bar{
    padding: 25px;
  }
 
}
@media screen and (max-width:400px){
  img{
         height: 200px;
  }
  #bar{
    padding: 15px;
  }
}

.collapse{
  display: block;
}

